* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-section: #B4D0E7;
    --bg-button: #0061FF;
    --dark-primary: #000000;
    --light-primary: #FFFFFF;
    --light-secondary: #F5F5F5;
    --green: #A2D39B;
    --red-dark: #61082B;
    --red-light: #FF1C1C;
    --red: #D5001F;
    --blue-dark: #0D2481;
    --blue-light: #0093CE;
    --yellow: #FFD830;
    --grey-light: #d3d3d3;
    --grey: #808080;

}

html {
    scroll-behavior: smooth;
}

/*General*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-primary);
    color: var(--dark-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.large-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
    /* Background Colors*/
.bg-section {
    background-color: var(--bg-section);
}

.bg-green{
    background-color: var(--green);
}

.bg-red-dark{
    background-color: var(--red-dark);
}

.bg-blue-light{
    background-color: var(--blue-light);
}

.bg-red-light{
    background-color: var(--red-light);
}

.bg-red{
    background-color: var(--red);
}

.bg-blue-dark{
    background-color: var(--blue-dark);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-light-secondary {
    background-color: var(--light-secondary);
}
    /* /Background Colors*/

    /*Text*/
.underline-t {
    text-decoration: underline;
}

.light-t {
    color: var(--grey);
}

.bolder {
    font-weight: 700;
}
    /*/Text*/

.pad-30 {
    padding: 30px;
}

    /* Button */
.pad-btn {
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
}

.pad-btn:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.btn-2:hover, .btn-3:hover{
    background-color: var(--grey-light);
}

.btn-1 {
    color: var(--light-primary);
    background-color: var(--bg-button);
    text-align: center;
}

.btn-2 {
    color: var(--dark-primary);
    background-color: var(--light-primary);
    text-align: center;
    border: 1px solid var(--dark-primary);
}

.btn-3 {
    color: var(--dark-primary);
    background-color: var(--light-secondary);
    text-align: center;
}

    /*/ Button */

.border {
    border: 1px solid var(--grey-light);
}

.block {
    display: block;
}

.inline-block{
    display: inline-block;
}
    /* Flex */
.flex {
    display: flex;
}

.wrap {
    flex-flow: row wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 30px;
}
    /* /Flex */

    /* Margin */
.mb-100 {
    margin-bottom: 100px;
}

.mb-60 { 
    margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-5 {
    margin-right: 5px;
}

/*Header*/
header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    background-color: var(--light-primary);
    box-shadow: inset 0px -2px 0px var(--light-secondary);
    padding-left: 20px;
    padding-right: 20px;
}

.header-ul li a {
    padding: 29px 16px;
    color: var(--dark-primary);
}

.header-ul li a:hover {
    box-shadow: inset 0 -2px 0 0 var(--dark-primary);
}

/*Main*/

main {
    padding-top: 80px;
}

#sub-plan {
    margin-top: 150px;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    padding: 80px 0px 20px 0px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.hr-card {
    width: 23%;
    border: 1px solid var(--grey-light);
}

.hr-square {
    width: 20%;
    border: 1px solid var(--grey-light);
}

.jumbo-img{
    position: relative;
    width: calc((100% / 3) * 2);
}

.jumbo-img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fa-arrow-down {
    font-size: 3rem;
    color: var(--dark-primary);
    transition: 0.5s;
}

.fa-arrow-down:hover {
    transform: scale(1.4);
}

.col {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-65 {
    width: 60%;
}

.col-gap {
    width: calc((100% / 3) - 20px);
}

.col-gap img, .col-65 img {
    width: 100%;
}

.icon-sub {
    text-align: center;
    border-bottom: 1px solid var(--grey-light);
    padding: 10px;
}

.container .icon-sub {
    border-top: 1px solid var(--grey-light);
    border-right: 1px solid var(--grey-light);
    border-left: 1px solid var(--grey-light);
    border-bottom: 0px;
}

.card-ul li {
    padding: 10px 0;
}

.fa-check {
    color: var(--bg-button)
}

.square {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.square:hover {
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.square img {
    width: 50%;
    filter: invert(100%);
}

.big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    overflow: auto;
}

.big-square img {
    width: 50%
}

.trial-section {
    padding: 100px 0px;
    color: var(--red-dark);
}

summary {
    list-style: none;
    padding: 30px 0px;
}

summary:hover {
    background-color: var(--light-secondary);
    cursor: pointer;
}

.fa-angle-down {
    margin-right: 60px;
}

details[open] .sum-wrapper {
	animation: fade-in 1s forwards;
}

@keyframes fade-in {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.sum-wrapper li{
    padding: 10px;
}

/*Footer*/

footer {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    padding: 80px 0px 40px 0px;
}

.footer-ul li:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-ul li{
    margin-bottom: 15px;
}

.footer-ul li a {
    color: var(--light-primary);
    padding: 5px 0px;
}

.footer-ul li a:hover {
    border-bottom: 1px solid var(--light-primary);
}

.hr-footer {
    width: 10%;
    border: 1px solid var(--grey);
}

.fa-earth-americas {
    color: var(--grey);
}

select {
    color: var(--grey);
    background-color: #000000;
    border: none;
}