* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--main-bg: rgba(180, 208, 231, 1);
--bg-button: rgba(0, 97, 255, 1);
--dark-primary: rgba(0, 0, 0, 1);
--light-primary: rgba(255, 255, 255, 1);
--light-secondary: rgba(245, 245, 245, 1);
--green: rgba(162, 211, 155, 1);
--red-dark: rgba(97, 8, 43, 1);
--red-light: rgba(255, 28, 28, 1);
--red: rgba(213, 0, 31, 1);
--blue-dark: rgba(13, 36, 129, 1);
--blue-light: rgba(0, 147, 206, 1);
--yellow: rgba(255, 216, 48, 1);
}